.container {
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
  transition: 0.5s ease-in-out max-width;
}

@include media-breakpoint-up(sm) {
  .container {
    max-width: 540px;
    padding: 0 0.7em;
  }
}

@include media-breakpoint-up(md) {
  .container {
    max-width: 720px;
  }
}

@include media-breakpoint-up(lg) {
  .container {
    max-width: 960px;
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1140px;
  }
}

.full-height {
  @supports (height: 100dvh) {
    min-height: 100dvh;
  }
  min-height: 100vh;
}
