<article class="experience">
  <div>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="text-center">
        <h2>{{ heading }}</h2>
        <p>{{ location }}</p>
        <p>{{ startDate }} - {{ endDate }}</p>
        <p>{{ jobTitle }}</p>
      </div>
    </div>
    <hr />
    <div class="d-flex flex-wrap">
      <div class="col-md-6 col-12 d-flex justify-content-center align-content-center align-items-start">
        <img src="{{ asset }}" alt="{{ assetAlt }}" />
      </div>
      <div class="col-md-6 col-12">
        <div>
          <h5>{{ description }}</h5>
        </div>
      </div>
    </div>
  </div>
</article>
