@import "globals";

.n-card-wrapper {
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  min-height: 9rem;
  background-color: #fafafade;
  box-shadow: inset 0px 0px 8px 0px #00000017;
  border: 4px solid black;
  & .n-card--company {
    font-size: 2.5rem;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: start;
      font-size: 3rem;
    }
  }
  & img {
    height: auto;
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    border-radius: 10px;
  }
  & .n-card-main-details {
    padding: 0 1rem;
  }
  & .n-card-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: start;
      font-size: 1.15rem;
    }
    span {
      font-weight: inherit;
      font-size: inherit;
      word-break: break-word;
    }
  }
  & .n-card-description {
    max-width: 75ch;
  }
}
