@import "globals";

footer {
  background-color: #000;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #737373;
}

.footer--copyright-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include media-breakpoint-up(lg) {
  footer {
    padding-bottom: auto;
  }
  footer .copyright-text,
  footer .social-icons {
    text-align: left;
  }
  .footer--copyright-wrapper {
    justify-content: start;
  }
  .footer--social-media-wrapper {
    padding-top: 0;
  }
  footer .social-icons {
    text-align: right;
  }
}
