<!-- Site footer -->
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9">
				<h6>About</h6>
				<p class="text-justify">
					Mike DelGaudio - I’m a Co-Op Computer Science Student at Stevens Institute of Technology in Hoboken, NJ.
					Primarily, I focus on front-end development and dev-ops. Occasionally, I do like to utilize Java and come up
					with some neat applications in my free time.
				</p>
			</div>

			<div class="col-xs-12 col-md-3">
				<h6>Quick Links</h6>
				<ul class="footer-links">
					<li><a routerLink="">Home</a></li>
					<li><a href="http://scanfcode.com/contact/">About</a></li>
					<li><a href="http://scanfcode.com/contact/">Work</a></li>
					<li><a href="http://scanfcode.com/contact/">Creative Works</a></li>
					<li class="mobile">
						<a href="http://scanfcode.com/contact/">Resume</a>
					</li>
					<li><a href="http://scanfcode.com/contact/">Contact</a></li>
				</ul>
			</div>
		</div>
		<hr />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12">
				<p class="copyright-text"><a href="mailto:mike@delgaudiomike.com">Mike DelGaudio</a> {{ currentYear }}.</p>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<ul class="social-icons">
					<li>
						<a class="github" rel="noreferrer nofollow" href="https://github.com/mikedelgaudio"
							><i class="fab fa-github-alt"></i
						></a>
					</li>
					<li>
						<a class="linkedin" rel="noreferrer nofollow" href="https://www.linkedin.com/in/michael-delgaudio/"
							><i class="fab fa-linkedin-in"></i
						></a>
					</li>
					<li>
						<a class="youtube" rel="noreferrer nofollow" href="https://www.youtube.com/c/MikeDelGaudio"
							><i class="fab fa-youtube"></i
						></a>
					</li>
					<li>
						<a class="email" rel="noreferrer nofollow" href="mailto:mike@delgaudiomike.com"
							><i class="fas fa-at"></i
						></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
