<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12 d-flex align-items-center">
        <p class="copyright-text"><a href="mailto:mike@delgaudiomike.com">Mike DelGaudio</a> {{ currentYear }}.</p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="github" rel="noreferrer nofollow" href="https://github.com/mikedelgaudio"
              ><i class="fab fa-github-alt"></i
            ></a>
          </li>
          <li>
            <a class="linkedin" rel="noreferrer nofollow" href="https://www.linkedin.com/in/michael-delgaudio/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a class="youtube" rel="noreferrer nofollow" href="https://www.youtube.com/c/MikeDelGaudio"
              ><i class="fab fa-youtube"></i
            ></a>
          </li>
          <li>
            <a class="email" rel="noreferrer nofollow" href="mailto:mike@delgaudiomike.com"
              ><i class="fas fa-at"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
