<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col footer--copyright-wrapper">
        <p>
          <a href="https://github.com/mikedelgaudio/delgaudiomike.com_v2" target="_blank"
            >Designed and Developed by Mike DelGaudio</a
          >
          {{ currentYear }}.
        </p>
        <p></p>
      </div>

      <div class="col-sm-6 col footer--social-media-wrapper">
        <ul class="social-icons" aria-label="Social Media Links">
          <li *ngFor="let social of socialMedias">
            <a class="{{ social.name }}" rel="noreferrer nofollow" href="{{ social.link }}">
              <div class="icon__wrapper">
                <img class="icon" loading="lazy" src="{{ social?.icon }}" alt="{{ social?.iconAlt }}" />
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
