@import "globals";

.fixed-button {
  background-color: transparent;
  color: #4890bf;
  border: 3px solid #4890bf;
  outline: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  height: 3.125rem;
  width: 3.125rem;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  span {
    font-weight: 500;
    display: none;
  }
  i {
    display: block;
  }
}

.fixed-button:hover {
  cursor: pointer;
  background-color: #4890bf;
  color: #ffffff;
}

@include media-breakpoint-up(lg) {
  .fixed-button {
    width: 6.25rem;
    span {
      display: block;
    }
    i {
      display: none;
    }
  }
}
