/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./Jost-ExtraLight.ttf") format("truetype");
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./Jost-Light.ttf") format("truetype");
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Jost-Regular.ttf") format("truetype");
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Jost-Medium.ttf") format("truetype");
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Jost-Bold.ttf") format("truetype");
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./Jost-ExtraBold.ttf") format("truetype");
}

/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./Jost-Black.ttf") format("truetype");
}
