<div class="section grid-items grid-items-feature-first grid-items-peak pt-8">
	<h2 class="section-header section-header-right">resume.</h2>

	<div class="grid-item post-preview resume-container pt-4" style="background-color: #70b0dc;">
		<embed src="../../assets/michael_delgaudio_resume.pdf" class="pt-5" />
		<div class="pt-4">
			<h2 class="font-weight-light text-white">
				<a
					href="https://github.com/mikedelgaudio/resume/blob/master/michael_delgaudio_resume.pdf"
					rel="noreferrer nofollow"
					>View on GitHub</a
				>
				or
				<a
					href="https://raw.githubusercontent.com/mikedelgaudio/resume/master/michael_delgaudio_resume.pdf"
					rel="noreferrer nofollow"
					>Download from GitHub</a
				>
			</h2>
		</div>
	</div>
</div>
<h1 class="text-center">Interesed to learn more? Check out my work <i class="fas fa-arrow-right"></i></h1>
