@import "globals";

.about {
  display: flex;
  overflow: hidden;
  min-height: -webkit-fill-available;
  @include media-breakpoint-up(md) {
    align-items: center;
    min-height: 100vh;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 4rem;
  }
}

.container {
  align-items: center;
}

.about-section {
  margin: 0 0 1em 0;
}

.about-section--title {
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 0.7em;
  margin-bottom: 1em;
  opacity: 0.5;
  font-size: 0.94em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.about-section-1 {
  padding-top: 0.5em;
  @media screen and (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: 0.5s;
  }
}

.about-section-1__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.about-section-1--logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 5rem;
  max-width: 6rem;
  @include media-breakpoint-up(sm) {
    min-width: 7rem;
    max-width: 9rem;
  }
  @include media-breakpoint-up(lg) {
    max-width: 15rem;
  }
}

.about-section-1__company-wrapper {
  position: absolute;
  bottom: -2em;
  text-align: center;
}

.about-section-1--company-name {
  font-size: 0.23em;
  opacity: 0.4;
}

.about-section-1--logo {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.about-section-2 {
  @media screen and (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: 1.2s;
  }
}

.about-section-2__skills {
  padding: 0;
  justify-content: center;
  @include media-breakpoint-up(md) {
    padding: 0 2rem;
  }
}

.badge {
  font-size: 0.9em;
  padding: 1em;
  border-radius: 60px;
  background-color: transparent;
  border: 3px solid #fff;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-color: #006e8a;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.05);
  @include media-breakpoint-up(md) {
    font-size: 1em;
  }
}

.badge-container {
  padding: 0.5rem 0.25rem;
  @include media-breakpoint-up(md) {
    padding: 0.5rem 2rem;
  }
}

.about-section-3 {
  @media screen and (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: 1.5s;
  }
}

.about-section-3__details {
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  @include media-breakpoint-up(md) {
    justify-content: space-around;
    font-size: 1.5rem;
    text-align: left;
  }
}

.about-section-3--detail {
  margin: 0;
  letter-spacing: 0px;
}
