<a class="anchor pt-5" id="about"></a>
<div class="section grid-items grid-items-feature-first grid-items-peak pt-5">
  <h2 class="section-header section-header-left">about.</h2>

  <div class="grid-item post-preview" style="background-color: #f4f4f9">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h4 class="text-black text-left">
          I’m a co-op computer science student at Stevens Institute of Technology in Hoboken, NJ. Primarily, I focus on
          front-end development and dev-ops. Occasionally, I do like to utilize Java and come up with some neat
          applications in my free time.
        </h4>
        <h5 class="text-black text-right font-weight-light">Hoboken, NJ</h5>
        <h5 class="text-black text-right font-weight-light">Bachelor of Science in Computer Science</h5>
        <h5 class="text-black text-right font-weight-light">Expected Graduation in May 2023</h5>
        <div class="d-flex justify-content-end">
          <a href="mailto:mike@delgaudiomike.com">
            <button type="button" class="btn btn-lg grow btn-dark">
              Let's Work Together <i class="far fa-paper-plane"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6 mobile-friendly-spacer">
        <picture>
          <source class="img-fluid" srcset="../../../assets/home/memoji_mike.webp" type="image/webp" />
          <source class="img-fluid" srcset="../../../assets/home/memoji_mike.png" type="image/png" />
          <img class="img-fluid" src="../../../assets/home/memoji_mike.png" alt="Mike's Memoji" />
        </picture>
      </div>
    </div>
    <div class="row justify-content-center parent-badge-container">
      <div class="vertical-bottom above-particle" [style.visibility]="!scrolled ? 'visible' : 'hidden'">
        <div class="arrow bounce">
          <a class="fa fa-chevron-down fa-2x sscroller"></a>
        </div>
      </div>
      <div class="badge-container" *ngFor="let skill of skills">
        <span class="badge" style="border: 6px solid {{ skill.color }}; color: {{ skill.color }};">{{
          skill.name
        }}</span>
      </div>
    </div>
  </div>
</div>
