@import "../../globals.scss";

.list-group-item {
  background-color: transparent;
  font-size: 1.7rem;
  border: none;
}

.list-group-item:hover {
  text-decoration: none;
  cursor: pointer;
}

.drop-shadow {
  background-image: url("../../../assets/nyc.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .drop-shadow {
    background-attachment: initial;
  }
}

.bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.section-header {
  text-shadow: 7px 7px 0px #000000;
  color: #ffffff;
  padding-top: 5rem;
}
