@import "globals";

.contact {
  display: flex;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    align-items: center;
    min-block-size: 100vh;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 4rem;
  }
}

.container {
  align-items: center;
}

.contact-section__links {
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.contact-section__hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.btn--primary {
  min-width: 10rem;
  margin: 0.2em;
}

a.anchor {
  top: 25rem;
}

.contact-section__links-wrapper {
  padding-top: 1rem;
}

.contact-section__info {
  padding-top: 1rem;
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

.contact-section--info-title {
  font-weight: 500;
}

.contact-section--info-link {
  font-weight: 800;
  text-decoration: underline;
}

.contact-section__img-container {
  max-width: 25rem;
}

.contact-section--img {
  display: block;
  height: auto;
  width: 100%;
}
