<section class="contact full-height">
  <div class="container hidden" #contact_container (visibilityChange)="action($event)" appEnterTheViewportNotifier>
    <h3 id="contact" class="section--header">contact</h3>
    <h4 class="section--subtitle">Let's Work Together</h4>
    <div class="divider divider--sm"></div>
    <p class="section--description">Reach out for more information</p>
    <div class="contact-section__content">
      <div class="contact-section__links-wrapper" #contact_container_links>
        <div class=".contact-section__links-container">
          <div class="contact-section__links" aria-label="Contact Me Links">
            <a
              class="btn__wrapper btn--primary"
              *ngFor="let social of socialMedias"
              href="{{ social?.link }}"
              target="_blank"
              rel="noreferrer nofollow"
              >{{ social.name }}</a
            >
          </div>
        </div>
        <div class="contact-section__info">
          <span class="contact-section--info-title">
            Send me a message
            <a
              class="contact-section--info-link"
              href="mailto:hello@delgaudio.dev"
              rel="noreferrer nofollow"
              aria-label="email me"
              >hello@delgaudio.dev</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
