<a class="anchor" id="contact"></a>

<div class="drop-shadow">
  <div class="bg">
    <h2 class="section-header section-header-left section">contact.</h2>
    <div class="section grid-items grid-items-feature-first grid-items-peak">
      <div class="row align-items-center text-white w-100">
        <div class="col-md-6">
          <ul class="list-group list-group-flush">
            <a href="https://github.com/mikedelgaudio" rel="noreferrer nofollow" class="grow list-group-item"
              >GitHub <i class="fab fa-github-alt"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/michael-delgaudio/"
              rel="noreferrer nofollow"
              class="grow list-group-item"
              >LinkedIn <i class="fab fa-linkedin-in"></i
            ></a>
            <a href="https://www.youtube.com/c/MikeDelGaudio" rel="noreferrer nofollow" class="grow list-group-item"
              >YouTube Channel <i class="fab fa-youtube"></i
            ></a>
            <a href="../../../assets/michael_delgaudio_resume.pdf" target="_blank" class="grow list-group-item"
              >Resume <i class="fas fa-portrait"></i
            ></a>
            <a href="mailto:mike@delgaudiomike.com" rel="noreferrer nofollow" class="grow list-group-item"
              >E-Mail <i class="fas fa-at"></i
            ></a>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="text-black text-right text-white">
            If you would like to ask any questions, please
            <a href="mailto:delgaudiomike@gmail.com" rel="noreferrer nofollow">email me</a>.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
