.arrow {
	text-align: center;
	margin: 8% 0;
	opacity: 0.7;
	cursor: pointer;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.header-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: max-content;
}

header {
	background-color: black;
}

.mike-pic-container {
	display: flex;

	justify-content: flex-end;
}

@media screen and (max-width: 767px) {
	.mike-pic-container {
		justify-content: center;
	}
	.mike-pic {
		filter: brightness(50%);
	}

	.display-3 {
		font-size: 4rem;
	}

	//For iPhone 5
	.header-text {
		transform: translate(-50%, -200%);
		-webkit-transform: translate(-50%, -200%);
	}
	//For normal devices
	@media screen and (min-width: 360px) {
		.header-text {
			transform: translate(-50%, -250%);
			-webkit-transform: translate(-50%, -250%);
		}
	}
}

.mike-pic {
	max-height: 100vh;
	margin-top: 3rem;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

/*Blinking Cursor Idea*/
.blinking-cursor {
	font-weight: 100;

	color: #000;
	word-spacing: -2px;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #000;
	}
}

@-moz-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #000;
	}
}

@-webkit-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #000;
	}
}

@-o-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #000;
	}
}
