<header class="row ml-0 mr-0" id="home">
	<div class="col-md col-xl-6">
		<div class="mike-pic-container">
			<img class="mike-pic" src="../../../assets/mike_trans.png" />
		</div>
	</div>
	<div class="col-md col-xl-3">
		<div class="header-text">
			<h1 class="m-0 text-white display-3 font-weight-bolder p-0">Mike<br />DelGaudio</h1>
			<h4 class="text-white font-weight-light">Computer Science Student</h4>
			<h4 class="text-white font-weight-light">Web Developer<span class="blinking-cursor">_</span></h4>
		</div>
	</div>


	<div class="vertical-bottom above-particle" [style.visibility]="!scrolled ? 'visible' : 'hidden'">
		<div class="arrow bounce">
			<a routerLink="/" fragment="about" class="fa fa-chevron-down fa-2x text-white scroller"></a>
		</div>
	</div>
</header>
