<header class="home" id="home">
  <div class="col-md col-xl-6">
    <div class="header-text__container">
      <div>
        <div class="header-text__wrapper">
          <h1 class="header-text--title">👋 HELLO, MY NAME IS <span class="header-text--title-name">MIKE</span></h1>
          <h2 class="header-text--subtitle">I'm a Computer Science Student from NYC!</h2>
        </div>

        <div class="header-section-2">
          <div class="divider"></div>
          <div>
            <h3 class="header-section-2--motto">
              I develop websites that focus on user experience and write technical documentation.
            </h3>
          </div>
          <div class="call-to-action__container">
            <a
              href="https://github.com/mikedelgaudio/resume/blob/master/michael_delgaudio_resume.pdf"
              target="_blank"
              rel="noreferrer nofollow"
            >
              <button class="call-to-action__btn" type="button"><span>REVIEW MY RESUME</span></button>
            </a>
          </div>
        </div>

        <!-- <div class="header__section-3">
          <h3>Experience:</h3>
          <img class="header__section-3--logo" src="../../../assets/home/google-logo.svg" />
          <img class="header__section-3--logo" src="../../../assets/home/colgate-logo.svg" />
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md col-xl-6">
    <div class="profile-pic__container">
      <div class="profile-pic__wrapper">
        <img
          class="profile-pic__img"
          src="../../../assets/home/m.jpg"
          alt="Mike's Profile Picture"
          width="240"
          height="296"
        />
      </div>
    </div>
  </div>
</header>
