@import 'globals';

.home {
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    flex-direction: row-reverse;
  }
}

.profile-pic__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  @include media-breakpoint-up(sm) {
    align-items: baseline;
  }
  @include media-breakpoint-up(lg) {
    padding: 0;
    height: 100%;
  }
}

.profile-pic__img {
  clip-path: circle();
  width: 100%;
  max-width: 15rem;
  height: auto;
  display: block;
  transition: all ease-in-out 500ms;
  @include media-breakpoint-up(sm) {
    position: absolute;
  }
  @include media-breakpoint-up(md) {
    max-width: 21rem;
  }
  @include media-breakpoint-up(lg) {
    max-width: 19rem;
  }
  @include media-breakpoint-up(xl) {
    max-width: 23rem;
  }

  &:nth-child(1) {
    top: 8rem;
    right: 0;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &:nth-child(2) {
    right: 0;
    @include media-breakpoint-up(lg) {
      right: inherit;
    }
  }

  &:nth-child(3) {
    bottom: 8rem;
    right: 0;
    display: none;
    z-index: -1;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  @media screen and (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: 0.1s;
    @include media-breakpoint-up(lg) {
      animation-delay: 0.5s;
    }
  }
}

.header-text__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 1rem;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    padding: 0;
    justify-content: flex-end;
  }
  @media screen and (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: 0.5s;
    @include media-breakpoint-up(lg) {
      animation-delay: 0.1s;
    }
  }
}

.header-text--title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 300;
  color: #5f5f5f;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.header-text--title-name {
  margin: 0;
  font-weight: 500;
  color: #000;
}

.header-text--subtitle {
  margin: 0;
  font-weight: 800;
  letter-spacing: -1px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  @include media-breakpoint-up(xs) {
    font-size: 2rem;
    line-height: 2rem;
  }
  @include media-breakpoint-up(md) {
    line-height: 2.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
    letter-spacing: -2px;
  }
  @include media-breakpoint-up(xl) {
    font-size: clamp(3.2rem, 1vw, 4rem);
    line-height: clamp(3.2rem, 1vw, 4rem);
    letter-spacing: -2px;
    word-spacing: 0.4rem;
  }
}

.header-section-2--motto {
  margin: 0;
  letter-spacing: 0;
  line-height: 1.25;
  font-size: 1.25rem;
  font-weight: 500;
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.call-to-action__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;

  .btn--primary {
    max-width: 16rem;
  }
}
