<article class="project">
  <div class="d-flex flex-wrap pt-2">
    <div class="col-md-6 col-12">
      <h2>Bullish Bay</h2>
    </div>
    <div class="col-md-6 col-12 d-flex align-content-center justify-content-end pt-3">
      <div class="src-bad">
        <i class="fas fa-lock"></i>
      </div>
    </div>
  </div>
  <hr class="mt-0" />
  <div class="d-flex flex-wrap">
    <div class="col-md-6 col-12">
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </h5>
    </div>
    <div class="col-md-6 col-12 d-flex justify-content-center align-content-center">
      <img src="../../assets/code-projects/desktop_bullish_bay.gif" alt="Mobile Bullish Bay GIF" />
    </div>
  </div>
</article>

<article class="project" style="background-color: {{ bgColor }}; color: {{ textColor }}">
  <div class="d-flex flex-wrap pt-2">
    <div class="col-md-6 col-12">
      <h2>{{ heading }}</h2>
    </div>
    <div class="col-md-6 col-12 d-flex align-content-center justify-content-end pt-3">
      <div [ngClass]="srcUrl.length > 0 ? 'src-good' : 'src-bad'">
        <i class="fas" [ngClass]="srcUrl.length > 0 ? 'fa-link' : 'fa-lock'"></i>
      </div>
    </div>
  </div>
  <hr class="mt-0" />
  <div class="d-flex flex-wrap">
    <div class="col-md-6 col-12">
      <h5>
        {{ description }}
      </h5>
    </div>
    <div class="col-md-6 col-12 d-flex justify-content-center align-content-center">
      <img src="{{ asset }}" alt="{{ assetAlt }}" />
    </div>
  </div>
</article>
