.project {
  background-color: white;
  color: blue;
  border-radius: 10px;
  h2 {
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
  }
  img {
    height: auto;
    width: 100%;
    max-width: 500px;
    object-fit: contain;
  }
}

.project .src-bad {
  background-color: #afafaf !important;
}
.project .src-bad:before {
  content: "Source Not Available";
}
.project .src-good:before,
.project .src-bad:before {
  transition: opacity 300ms;
  opacity: 0;
  position: absolute;
  right: 75px;
  top: 0;
  text-align: right;
  font-size: 1rem;
  line-height: 50px;
  width: 180px;
}

.project .src-good,
.project .src-bad {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #47e5bc;
  border-radius: 50%;
  right: -0.8rem;
  top: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.3rem;
  color: white;
  transition: all 300ms;
}
.project .src-good:hover,
.project .src-bad:hover {
  .project .src-good:before,
  .project .src-bad:before {
    opacity: 1 !important;
  }
}
