<a class="anchor" id="work"></a>
<div class="section grid-items grid-items-feature-first grid-items-peak">
  <h2 class="section-header section-header-right">work.</h2>

  <a href="#" class="grid-item post-preview personal-projects">
    <span class="grid-item-button grid-item-button-left">
      <span class="grid-item-button-label text-white">Read more</span>
    </span>
    <h1><i class="fas fa-code"></i></h1>
    <h1 class="grid-item-header">
      Code Projects
    </h1>

    <!-- <p class="grid-item-text">All my current and previous code projects that I have worked on!</p> -->
  </a>
  <div class="row">
    <div class="col-md-6">
      <a href="#" class="grid-item post-preview work-expereince">
        <h1><i class="fas fa-briefcase"></i></h1>
        <h1 class="grid-item-header">
          Work Experience
        </h1>

        <span class="grid-item-button grid-item-button-left">
          <span class="grid-item-button-label">Read more</span>
        </span>
        <!-- 
        <p class="grid-item-text" style="color: rgba(0, 0, 0, 1);">
          If you miss method chaining from Ruby or jQuery when working with styles in JavaScript, you can recreate the
          pattern with a few lines of code
        </p> -->
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" class="grid-item post-preview creative-projects">
        <h1><i class="fas fa-paint-brush"></i></h1>
        <h1 class="grid-item-header">
          Creative Projects
        </h1>

        <span class="grid-item-button grid-item-button-left">
          <span class="grid-item-button-label">Read more</span>
        </span>

        <!-- <p class="grid-item-text" style="color: rgba(0, 0, 0, 1);">
          If you miss method chaining from Ruby or jQuery when working with styles in JavaScript, you can recreate the
          pattern with a few lines of code
        </p> -->
      </a>
    </div>
  </div>
</div>
