<section class="work">
  <div class="container hidden" #work_container (visibilityChange)="action($event)" enterTheViewportNotifier>
    <a id="work" class="anchor"></a>
    <div class="work-section work-section-1">
      <h3 class="section--header">projects</h3>
      <h4 class="section--subtitle">From Design to Code</h4>
      <div class="divider divider--sm"></div>
      <p class="section--description">Transforming your ideas into reality.</p>

      <div class="gallery" #work_container_projects>
        <app-card
          *ngFor="let codeProject of codeProjects"
          heading="{{ codeProject.heading }}"
          description="{{ codeProject.description }}"
          asset="{{ codeProject.asset }}"
          assetAlt="{{ codeProject.assetAlt }}"
          demoUrl="{{ codeProject.demoUrl }}"
          typeOfWork="{{ codeProject.typeOfWork }}"
          subDescription="{{ codeProject.subDescription }}"
        ></app-card>
      </div>
    </div>
  </div>
</section>
