@import "globals";

.work {
  overflow: hidden;
  position: relative;
  display: flex;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
  @include media-breakpoint-up(md) {
    align-items: center;
    min-height: 100vh;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 4rem;
  }
}

.container {
  align-items: center;
}

.work-section--title {
  font-size: 2em;
  margin: 0 0 1em 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
}

.work-section {
  padding: 2em 0;
}

.gallery {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2em;
  justify-items: center;
  @media screen and (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation-delay: 0.75s;
  }
}
