.personal-projects {
  background-color: #89a6ae;

  //background-image: url("../../../assets/6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.work-expereince {
  background-color: #caac95;

  // background-image: url("../../../assets/4.jpg");

  background-size: cover;
  background-position: bottom;
}

.creative-projects {
  background-color: #586f7c;
  // background-image: url("../../../assets/5.jpg");
  background-size: cover;
}

.grid-item {
  border: 5px solid #f4f4f9;
}
.grid-item:nth-child(2) {
  border-top: none;
  border-left: none;
  border-right: none;
}

.grid-item-header {
  font-size: 2rem;
  font-weight: 600;
}
.grid-item:hover {
  //color: #dc9075;
  text-decoration-color: #fafafa;
}
.grid-item-button {
  background-color: #fafafa;
  color: #000;
}

.grid-item-text {
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .col-md-6:nth-child(1) {
    padding-right: 0;
  }
  .col-md-6:nth-child(2) {
    padding-left: 0;
  }

  .grid-item-header {
    font-size: 4rem;
  }
}

h1 {
  color: white;
}
