$light-blue: #a8dadc;
$dark-blue: #1d3557;
$off-white: #f1faee;
$mid-blue: #457b9d;
$off-red: #e63946;

.main {
  background-color: $dark-blue;
}

.container {
  padding-top: 4rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: $off-white;
}
.card-group {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
