$light-blue: #a8dadc;
$dark-blue: #1d3557;
$off-white: #fafafa;
$mid-blue: #457b9d;
$off-red: #e63946;
$light-green: #9ef1de;

.main {
  background-color: $off-white;
}

.container {
  padding-top: 4rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #000;
}
.card-group {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }
  i {
    display: none;
  }
}
