<nav class="navigation fixed-top" id="page-top">
  <div class="container navigation__wrapper">
    <div class="navigation__toggle" [ngClass]="{ 'navigation--show': menuShow }" (click)="toggleMenu()">
      <span></span>
      <span></span>
    </div>
    <ul class="navigation__header">
      <li>
        <a routerLink="/" fragment="home" (click)="toggleMenu('home')" class="navigation--text-heavy">Mike DelGaudio</a>
      </li>

      <div class="navigation__links" [ngClass]="{ 'navigation--show': menuShow }">
        <li><a routerLink="/" fragment="about" (click)="toggleMenu()">About</a></li>
        <li><a routerLink="/" fragment="work" (click)="toggleMenu()">Work</a></li>
        <li><a routerLink="/" fragment="contact" (click)="toggleMenu()">Contact</a></li>
      </div>
    </ul>
  </div>
</nav>
