@import "globals";

$background-color: rgba(0, 0, 0, 0.9);

.navigation__header {
  margin: auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation--text-heavy {
  font-weight: 500;
}

a {
  position: relative;
  letter-spacing: 0.15em;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.navigation__wrapper {
  background: $background-color;
  max-width: 100%;
  padding: 1rem;
}

.navigation__links {
  position: absolute;
  top: -9999rem;
  width: 100%;
  flex-direction: column;
  list-style: none;
  margin: auto auto auto 0;
  padding: 1rem 0 0;
  justify-content: center;
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;

  & li {
    padding: 0.3rem 0;
  }
}

.navigation--show {
  opacity: 1;
  visibility: visible;
  position: relative;
  top: auto;
}

.navigation__toggle {
  position: absolute;
  cursor: pointer;
  margin-top: 0.25rem;

  &.navigation--show span {
    background: white;
    opacity: 1;

    &:nth-child(1) {
      transform: rotate(45deg) translate(-1px, -6px);
    }
    &:nth-child(2) {
      transform: rotate(-45deg) translate(-2px, 6px);
    }
  }

  & span {
    display: block;
    width: 1.7rem;
    height: 0.1rem;
    margin: 0.4rem auto;
    position: relative;
    background: rgb(107, 107, 107);
    z-index: 1;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-child(2) {
      transform-origin: 0% 100%;
    }

    &:nth-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  }
}

@include media-breakpoint-up(lg) {
  .navigation__links {
    position: relative;
    top: auto;
    opacity: 1;
    visibility: visible;
    background: inherit;
    margin: auto 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    & li {
      padding: 0.3rem 1rem;
    }
  }
  .navigation__toggle {
    display: none;
  }
  .navigation__header {
    justify-content: space-around;
  }
}
