<div class="main">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between p-3">
      <h1>Creative Work</h1>
      <h1><i class="fas fa-paint-brush"></i></h1>
    </div>

    <a href="https://www.behance.net/mikedelgaudio" target="_blank" class="">
      <div class="behance-container container">
        <div class="d-flex flex-wrap">
          <div class="col-md-6 col-12">
            <i class="fab fa-behance-square"></i>
            <h2>Behance</h2>
            <p>portfolio of some projects in Adobe Photoshop and Illustrator</p>
            <button class="btn-dark btn grow mb-3">More Information</button>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-center align-content-center">
            <img class="img-fluid" src="../assets/creative-work/behance.jpg" alt="Behance Profile" />
          </div>
        </div>
      </div>
    </a>

    <div class="card-group">
      <div class="w-100 pl-3">
        <i class="fab fa-youtube"></i>
        <h2>YouTube</h2>
        <p>hobby of mine creating technical guides</p>
      </div>
      <div class="d-flex flex-wrap w-100">
        <div class="col-md-6 col-12">
          <div class="embed-container">
            <iframe
              class=""
              src="https://www.youtube.com/embed/zIIYN_PyUAM"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="embed-container">
            <iframe
              src="https://www.youtube.com/embed/h8_68OONY-w"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
