<div class="main">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between">
      <h1>Creative Work</h1>
      <h1><i class="fas fa-paint-brush"></i></h1>
    </div>

    <div class="behance-container container">
      <i class="fab fa-behance-square"></i>
      <p>This Behance portfolio demonstrates some projects I've done in Adobe Photoshop and Illustrator</p>
      <img class="img-fluid" src="../assets/creative-work/behance.jpg" alt="Behance Profile" />
    </div>

    <div class="card-group"></div>
  </div>
</div>
