@import "../globals.scss";
.main {
  background-color: $app-background;
  background: url("../../assets/creative-work/creative-work-bg.svg") no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.container {
  padding: 4rem 0;
  width: inherit;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: $app-background;
  box-shadow: inset 0px 0px 8px 0px #00000017;
  border-radius: 10px;
  border: 1px solid #c596db;
  margin: 1rem;
}

img {
  height: auto;
  width: 100%;
  max-width: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.behance-container {
  margin: 1rem;
  background: $app-background;
  border-radius: 10px;
  border: 1px solid #c596db;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: inset 0px 0px 8px 0px #00000017;
}
.behance-container:hover {
  background-color: #c596db49;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

i {
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}
p {
  font-weight: 500;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }
  i.fa-paint-brush {
    display: none;
  }
  .main {
    background-size: 380%;
    //background-position: top;
  }
}
